<p>Hi</p>
<p>Thanks for signing up at Activate</p>
<p>
  We need to verify your email address. To verify your email address, please use the verification code below:
</p>

<div style="display: flex; justify-content: center; align-items: center">
  <span style="padding: 16px 32px;background-color: #EFF1F1; font-family:Arial, Helvetica, sans-serif; font-weight:500; font-size: 20px">
    {{ verificationCode }}
  </span>
</div>

<p>Do not share this code with anyone. Activate takes your account security very seriously. Activate Customer Service will never ask you to disclose or verify your Activate password, code or payment details. If you receive a suspicious email with a link to update your account information, do not click on the link—instead, report the email to Activate for investigation.</p>

<p>Thank you for signing up with Activate.</p>
